In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
from .utils.date2datetime import *

ImportError: attempted relative import with no known parent package

In [9]:
dir_folder = 'C:\\Users\\Lucas\\Documents\\GitHub\\Resources\\'
df_w = pd.read_csv(dir_folder + '2. Weather data\\training_set_weather_data.csv')
df_w

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Flight Number,Flight Datetime,Aircraft Model,Aircraft Length,Aircraft Span,No. Engines,Airport Arrival/Departure,Movement Type,AOBT,ATOT,Distance_proxy_m,Log_distance_m,actual_taxi_out_sec,Year,Month,Weekday,Hour,N_dep_dep,N_dep_arr,Q_dep_dep,Q_dep_arr,time_hourly,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,precipAccumulation,ozone
0,DY2434,1/1/2015 6:00,B737-800 WINGLETS,39.50,35.70,2,TFS,D,1/1/2015 5:56,1/1/2015 6:05,3276.655443,8.094578,540,2015,1,3,6,3,2,0,1,1/1/2015 6:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,44.65,39.29,42.80,0.93,1031.6,10.29,11.39,210.0,0.75,0.0,5.859,None,0.0,310.4
1,EZY8869,1/1/2015 6:10,A320-100/200,56.70,60.00,2,AMS,D,1/1/2015 6:08,1/1/2015 6:18,2777.685343,7.929373,600,2015,1,3,6,6,1,1,1,1/1/2015 6:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,44.65,39.29,42.80,0.93,1031.6,10.29,11.39,210.0,0.75,0.0,5.859,None,0.0,310.4
2,EZY8462,1/1/2015 6:15,A320-100/200,37.56,34.09,2,GVA,D,1/1/2015 6:08,1/1/2015 6:19,2729.133359,7.911739,660,2015,1,3,6,6,1,2,2,1/1/2015 6:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,44.65,39.29,42.80,0.93,1031.6,10.29,11.39,210.0,0.75,0.0,5.859,None,0.0,310.4
3,BA2632,1/1/2015 6:20,A320-100/200,37.56,34.09,2,ALC,D,1/1/2015 6:24,1/1/2015 6:36,2292.070065,7.737211,720,2015,1,3,6,9,2,5,1,1/1/2015 6:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,44.65,39.29,42.80,0.93,1031.6,10.29,11.39,210.0,0.75,0.0,5.859,None,0.0,310.4
4,EZY5381,1/1/2015 6:20,A319,33.84,34.09,2,MUC,D,1/1/2015 6:14,1/1/2015 6:27,3194.416489,8.069160,780,2015,1,3,6,6,1,2,2,1/1/2015 6:00,Mostly Cloudy,partly-cloudy-night,0.0,0.0,44.65,39.29,42.80,0.93,1031.6,10.29,11.39,210.0,0.75,0.0,5.859,None,0.0,310.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678897,EI249,12/31/2019 21:25,A320-100/200,37.56,34.09,2,DUB,D,12/31/2019 21:04,12/31/2019 21:17,503.565584,6.221714,780,2019,12,1,21,3,4,1,7,12/31/2019 21:00,Clear,clear-night,0.0,0.0,44.17,39.56,39.23,0.83,1031.8,8.25,20.27,102.0,0.26,0.0,6.391,None,0.0,313.3
678898,DI7505,12/31/2019 21:30,B787-900,0.00,0.00,2,EZE,D,12/31/2019 21:16,12/31/2019 21:34,616.921554,6.424742,1080,2019,12,1,21,1,6,3,5,12/31/2019 22:00,Clear,clear-night,0.0,0.0,42.40,37.00,40.55,0.93,1031.7,9.11,19.94,93.0,0.08,0.0,10.000,None,0.0,311.6
678899,VY7829,12/31/2019 21:40,A320 NEO,56.70,60.00,2,BCN,D,12/31/2019 21:38,12/31/2019 21:56,383.514084,5.949376,1080,2019,12,1,21,1,7,1,7,12/31/2019 22:00,Clear,clear-night,0.0,0.0,42.40,37.00,40.55,0.93,1031.7,9.11,19.94,93.0,0.08,0.0,10.000,None,0.0,311.6
678900,W63032,12/31/2019 21:55,A321-100/200,44.50,34.09,2,OTP,D,12/31/2019 21:47,12/31/2019 22:01,565.777163,6.338200,840,2019,12,1,21,0,7,2,7,12/31/2019 22:00,Clear,clear-night,0.0,0.0,42.40,37.00,40.55,0.93,1031.7,9.11,19.94,93.0,0.08,0.0,10.000,None,0.0,311.6
678901,PS114,12/31/2019 23:00,ERJ-190,36.24,28.71,2,KBP,D,12/31/2019 22:48,12/31/2019 23:01,558.825832,6.325838,780,2019,12,1,23,0,2,0,2,12/31/2019 23:00,Partly Cloudy,partly-cloudy-night,0.0,0.0,39.11,33.69,38.90,0.99,1031.5,7.67,17.22,114.0,0.37,0.0,10.000,None,0.0,311.7

In [15]:
df_a = pd.read_excel('C:\\Data\\Hackathon\\1. AC characteristics\\ACchar.xlsx', sheet_name='test')
df_a

,Date Completed,Manufacturer,A320-100,Physical Class (Engine),# Engines,AAC,ADG,TDG,Approach Speed\n(Vref),Wingtip Configuration,"Wingspan, ft","Length, ft","Tail Height, ft\n(@ OEW)","Wheelbase, ft",Cockpit to Main Gear (CMG),MGW\n(Outer to Outer),MTOW,Max Ramp\nMax Taxi,Main Gear Config,ICAO Code,Wake Category,ATCT Weight Class,Years Manufactured,Note,"Parking Area (WS x Length), sf"
0,2018-07-03 00:00:00,Acro Sport,Acro Sport,Piston,1,A,I,1A,55.9,no winglets,19.5833,17.5,6,tbd,tbd,tbd,1350,1520,S,ACRO,L,Small Eqpt,tbd,tbd,342.708
1,2018-06-01 00:00:00,Acro Sport,Acro Sport II,Piston,1,A,I,1A,59.8,no winglets,21.6667,18.8542,6.64583,tbd,tbd,tbd,1520,1520,S,ACR2,L,Small Eqpt,tbd,tbd,408.507
2,2018-07-03 00:00:00,Acro Sport,Cougar,Piston,1,A,I,1A,45.5,no winglets,20.5,18.9167,5.5,tbd,tbd,tbd,1250,1250,S,COUG,L,Small Eqpt,tbd,tbd,387.792
3,2018-07-03 00:00:00,Acro Sport,Junior Ace,Piston,1,A,I,1A,49.4,no winglets,26.5,18,tbd,tbd,tbd,tbd,1225,1225,S,JACE,L,Small Eqpt,tbd,tbd,477
4,2018-07-03 00:00:00,Acro Sport,Super Ace,Piston,1,A,I,1A,49.4,no winglets,27.2917,18.5,6.5,tbd,tbd,tbd,1030,1030,S,SACE,L,Small Eqpt,tbd,tbd,504.896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,NaN,Zlin,Zlin Z-50,tbd,tbd,No Value,No Value,tbd,NaN,tbd,NaN,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,BA11,M,tbd,tbd,tbd,NaN
2760,NaN,Zlin,Zlin Z-526 Akrobat,tbd,tbd,No Value,No Value,tbd,NaN,tbd,NaN,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,NaN
2761,NaN,Zlin,Zlin Z-526 Trener Master,tbd,tbd,No Value,No Value,tbd,NaN,tbd,NaN,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,NaN
2762,NaN,Zlin,Zlin Z-626,tbd,tbd,No Value,No Value,tbd,NaN,tbd,NaN,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,tbd,NaN
2763,tbd,Zlin,Zlin Z-726 Universal,tbd,tbd,B,II,tbd,97.0,tbd,49.08,tbd,15,tbd,tbd,tbd,6750,tbd,tbd,AC50,tbd,Small Eqpt,tbd,tbd,NaN

In [13]:
#df_apt_geo = pd.read_csv("C:\\Data\\Hackathon\\0. Airport data\\geographic_data.csv")
date2datetime

In [21]:
df_apt_time = pd.read_csv('C:\\Data\\Hackathon\\0. Airport data\\training_set_airport_data.csv')
df_apt_time

,Flight Datetime,Aircraft Model,AOBT,ATOT,Stand,Runway
0,1/1/2015 6:00,B737-800 WINGLETS,1/1/2015 5:56,1/1/2015 6:05,STAND_62,RUNWAY_4
1,1/1/2015 6:10,A320-100/200,1/1/2015 6:08,1/1/2015 6:18,STAND_153,RUNWAY_4
2,1/1/2015 6:15,A320-100/200,1/1/2015 6:08,1/1/2015 6:19,STAND_44,RUNWAY_2
3,1/1/2015 6:20,A320-100/200,1/1/2015 6:24,1/1/2015 6:36,STAND_7,RUNWAY_3
4,1/1/2015 6:20,A319,1/1/2015 6:14,1/1/2015 6:27,STAND_17,RUNWAY_2
...,...,...,...,...,...,...
543808,12/31/2018 21:15,A350-900,12/31/2018 21:02,12/31/2018 21:20,STAND_150,RUNWAY_3
543809,12/31/2018 21:30,B787-900,12/31/2018 21:24,12/31/2018 21:38,STAND_77,RUNWAY_1
543810,12/31/2018 21:50,A330-200,12/31/2018 22:27,12/31/2018 22:37,STAND_120,RUNWAY_1
543811,12/31/2018 22:10,B787-800 Dreamliner,12/31/2018 22:09,12/31/2018 22:29,STAND_49,RUNWAY_2
543812,12/31/2018 23:55,B787-900,12/31/2018 23:58,1/1/2019 0:11,STAND_12,RUNWAY_4

,Flight Datetime,Aircraft Model,AOBT,ATOT,Stand,Runway
0,1/1/2015 6:00,B737-800 WINGLETS,1/1/2015 5:56,1/1/2015 6:05,STAND_62,RUNWAY_4
1,1/1/2015 6:10,A320-100/200,1/1/2015 6:08,1/1/2015 6:18,STAND_153,RUNWAY_4
2,1/1/2015 6:15,A320-100/200,1/1/2015 6:08,1/1/2015 6:19,STAND_44,RUNWAY_2
3,1/1/2015 6:20,A320-100/200,1/1/2015 6:24,1/1/2015 6:36,STAND_7,RUNWAY_3
4,1/1/2015 6:20,A319,1/1/2015 6:14,1/1/2015 6:27,STAND_17,RUNWAY_2
...,...,...,...,...,...,...
543808,12/31/2018 21:15,A350-900,12/31/2018 21:02,12/31/2018 21:20,STAND_150,RUNWAY_3
543809,12/31/2018 21:30,B787-900,12/31/2018 21:24,12/31/2018 21:38,STAND_77,RUNWAY_1
543810,12/31/2018 21:50,A330-200,12/31/2018 22:27,12/31/2018 22:37,STAND_120,RUNWAY_1
543811,12/31/2018 22:10,B787-800 Dreamliner,12/31/2018 22:09,12/31/2018 22:29,STAND_49,RUNWAY_2
543812,12/31/2018 23:55,B787-900,12/31/2018 23:58,1/1/2019 0:11,STAND_12,RUNWAY_4